# Rust
/target/
/vendor/
/.cargo/
Cargo.lock

# Editor/Tool caches
.clj-kondo/
.lsp/

# Clojure
/adaptors/clojure/.cpcache/
/adaptors/clojure/.nrepl-port
/adaptors/clojure/*.jar
/adaptors/clojure/classes/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log

# Environment
.env
.env.local
